#page-create-point { /* Estilizações gerais da página */
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    /* Alinhamento da caixa pelo lado de fora desta */
}

/* Cabeçalho da página */
#page-create-point header {
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-create-point header a {
    color: var(--title-color);
    font-weight: bold;
    display: flex;
    align-items: center;
}

#page-create-point header a span {
    margin-right: 9px;
    background-image: url("../assets/icones/arrow-left.svg");
    display: flex;
    width: 20px;
    height: 22px;
} /* Fim da estilização do cabeçalho */

/* Estilização do formulário de cadastro */
#page-create-point form {
    background-color: white;
    margin: 60px auto;
    /* Preenchimento da "caixa" do formulário */
    padding: 64px;
    border-radius: 12px;
    max-width: 730px;
}

#page-create-point form h1 {
    transform: translateX(12.2%); /* Centralizando o texto da tag "h1" */
}

#page-create-point form fieldset {
    margin-top: 64px;
    border: 0; /* Tirando bordas laterais */
}

#page-create-point form legend {
    margin-bottom: 40px;
}

#page-create-point form legend h2 {
    font-size: 24px;
}

#page-create-point form .field { /* Estilização de cada campo de texto */
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#page-create-point form .field-group {
    display: flex; /* Alinhando os campos */
}

#page-create-point form input, /* Estilizando ambos campos de input e de select */
#page-create-point form select {
    background-color: #f0f0f5; /* Cor do campo de input */
    border: 0;
    padding: 16px 24px;
    font-size: 15px;
    border-radius: 11px;
}

#page-create-point form select {
    /* Comandos abaixo faz o campo "perder" a característica de ser um "select */
    /* Em alguns navegadores podem ocorrer alguns problemas que não aplica a estilização */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#page-create-point form label {
    font-size: 16px;
    margin-bottom: 8px;
}

/* Caso abaixo pega a tag com class="field" que vier após a outra tag ".field" */
#page-create-point form .field-group .field + .field {
    margin-left: 24px;
}

#page-create-point form button { /* Botão de "submit" */
    width: 260px;
    height: 56px;
    background-color: var(--primary-color);
    border-radius: 8px 25px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    transition: 400ms;
    margin-top: 40px;
}

#page-create-point form button:hover {
    background-color: #2fb86e;
    cursor: pointer;
}