#page-home { /* Estilizações gerais para a home-page */
    height: 120vh;
    background: url("../assets/icones/home-background.svg") no-repeat;
    background-position: 35vw bottom;
}

#page-home .content { /* Tag "div" do conteúdo da home-page */
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: 0 auto; /* "0" refere-se a "top e bottom" e "auto" a "left e right" */
    flex-direction: column;
    display: flex;
}

#page-home header { /* Cabeçalho da home-page */
    display: flex; /* Mostra os elementos em forma de linha */
    align-items: center;
    justify-content: space-between;
    padding-top: 2%;
}

#page-home header > a { /* Link para cadastrar um ponto de coleta */
    display: flex;
    color: var(--title-color);
    font-weight: 700;
}

#page-home header > a > span { /* Ícone ao lado do link de cadastro do ponto de coleta*/
    display: flex;
    margin-right: 16px;
    background-image: url("../assets/icones/log-in.svg");
    width: 20px;
    height: 20px;
}

#page-home main { /* Conteúdo principal da home-page */
    max-width: 560px;
    height: 65%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

#page-home main h1 {
    font-size: 54px;
}

#page-home main p { /* Parágrafo de descrição do "Ecoleta" */
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;
}

#page-home main a { /* "Botão" para pesquisar pontos de coleta */
    width: 100%;
    max-width: 360px;
    height: 72px;
    border-radius: 8px 25px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    background: var(--primary-color);
    transition: background-color 400ms; /* Transição deste estado para o hover */
}

#page-home main a:hover { /* "hover": Propriedade de quando o mouse está em cima da tag */
    background-color: #2fb86e;
    cursor: pointer;
}

#page-home main a span { 
    width: 72px;
    height: 72px;
    /* Abaixo sumindo com algumas "bordinhas" irregulares da tag */
    border-top-left-radius: 8px;
    border-bottom-left-radius: 25px;
    /* Abaixo coloca-se esta propriedade para manter uma tonalidade mais escura da cor padrão */
    background-color: rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-home main a span::after { /* Criando-se um pseudo-elemento para a tag "a" */
    content: "";
    background-image: url("../assets/icones/search.svg");
    width: 20px;
    height: 20px;
}

#page-home main a strong { /* "strong" recebe um "font-weight: bold" por padrão */
    flex: 1;
    color: white;
    padding-left: 35px;
    padding-right: 35px;
}
