
:root { /* Referenciando a raíz do documento */
    /* Propriedades que podem ser replicadas no formato de variáveis */
    --title-color: #322153;
    --primary-color: #34cb39;
    --ubuntu-font: 'Ubuntu', sans-serif;
    --roboto-font: 'Roboto', sans-serif;
}

* { /* Referencia todos os seletores */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--roboto-font);
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

a { /* Estilizações para todos as tags <a> */
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ubuntu-font);
    color: var(--title-color);
}

/* Box Model 
   Modelo de caixa
   Toda caixa tem largura, altura, espaçamentos, preenchimento,
   bordas, cor, fundo, maneira vista pelo HTML, posicionamento,
   alinhamento, etc... (display)
*/
